	.divKey
	{
		position: relative;
		margin-left: 10px;
		height: 128px;
	}
	.lbltJIGYOCD
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.JIGYOCD
	{
		display: inline;
		width: 115px;
		position: absolute;
		top: -1px;
		left: 92px;
		ime-mode: disabled;
	}
	.lbltOUTJUN
	{
		position: absolute;
		top: 23px;
		left: 0px;
	}
	.OUTJUN
	{
		display: inline;
		width: 115px;
		position: absolute;
		top: 20px;
		left: 92px;
		ime-mode: disabled;
	}
	.lbltHURIGANAFROM1
	{
		position: absolute;
		top: 44px;
		left: 0px;
	}
	.HURIGANAFROM1
	{
		width: 60px;
		ime-mode: inactive;
		position: absolute;
		top: 42px;
		left: 92px;
	}
	.lbl
	{
		position: absolute;
		top: 44px;
		left: 166px;
	}
	.HURIGANATO1
	{
		width: 60px;
		ime-mode: inactive;
		position: absolute;
		top: 42px;
		left: 190px;
	}
	.lbltNONYUCDFROM1
	{
		position: absolute;
		top: 65px;
		left: 0px;
	}
	.NONYUCDFROM1
	{
		width: 30px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 63px;
		left: 92px;
	}
	.lbl1
	{
		position: absolute;
		top: 63px;
		left: 136px;
	}
	.NONYUCDTO1
	{
		width: 30px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 63px;
		left: 156px;
	}
	.lbltOUTSITEI
	{
		position: absolute;
		top: 86px;
		left: 0px;
	}
	.OUTSITEI
	{
		display: inline;
		width: 90px;
		position: absolute;
		top: 83px;
		left: 92px;
		ime-mode: disabled;
	}
	.lbltPRINTKBN
	{
		position: absolute;
		top: 107px;
		left: 0px;
	}
	.PRINTKBN
	{
		display: inline;
		width: 73px;
		position: absolute;
		top: 104px;
		left: 92px;
		ime-mode: disabled;
	}
	.divBottom
	{
		width: 980px;
		position: absolute;
		bottom: 0px;
	}
	.divDNBtn
	{
		position: relative;
	}
	.btnDn
	{
		font-size: 12px;
		width: 98px;
		height: 20px;
		text-align: left;
		padding-top: 2px;
		margin-right: -6px;
	}
