	.divUPBtn
	{
		height: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.divBtn
	{
		float: left;
		width: 500px;
		text-align: left;
		height: 20px;
	}
	.btn
	{
		font-size: 12px;
		width: 80px;
		height: 20px;
	}
	.divKey
	{
		position: relative;
		margin-left: 10px;
		height: 44px;
	}
	.lbltSIRNO
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.SIRNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 0px;
		left: 92px;
	}
	.btnSIRNO
	{
		position: absolute;
		top: -1px;
		left: 148px;
		height: 18px;
	}
	.btnSearch
	{
		position: absolute;
		top: -1px;
		left: 190px;
		height: 18px;
	}
	.lbltOLDHACCHUNO
	{
		position: absolute;
		top: 2px;
		left: 250px;
	}
	.OLDHACCHUNO
	{
		width: 42px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 2px;
		left: 366px;
	}
	.lbltHACCHUNO
	{
		position: absolute;
		top: 23px;
		left: 0px;
	}
	.HACCHUNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 21px;
		left: 92px;
	}
	.btnHACCHUNO
	{
		position: absolute;
		top: 20px;
		left: 148px;
		height: 18px;
	}
	.btnSearch2
	{
		position: absolute;
		top: 20px;
		left: 190px;
		height: 18px;
	}
	.lbltOLDSIRCD
	{
		position: absolute;
		top: 23px;
		left: 250px;
	}
	.OLDSIRCD
	{
		width: 24px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 23px;
		left: 366px;
	}
	.OLDSIRNMR
	{
		width: 180px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 23px;
		left: 404px;
	}
	.divMain
	{
		position: relative;
		margin-left: 10px;
		height: 44px;
	}
	.lbltSIRCD
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.SIRCD
	{
		width: 24px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 2px;
		left: 92px;
	}
	.SIRNMR
	{
		width: 180px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 2px;
		left: 130px;
	}
	.lbltSIRYMD
	{
		position: absolute;
		top: 23px;
		left: 0px;
	}
	.SIRYMD
	{
		width: 60px;
		ime-mode: disabled;
		position: absolute;
		top: 21px;
		left: 92px;
	}
	.btnSIRYMD
	{
		position: absolute;
		top: 21px;
		left: 156px;
	}
	.CellRNUM
	{
		text-align: left;
		width: 12px;
	}
	.itemTiRNUM
	{
		width: 12px;
		display: inline-block;
	}
	.CellBBUNRUICD
	{
		text-align: left;
		width: 24px;
	}
	.itemTiBBUNRUICD
	{
		width: 24px;
		display: inline-block;
	}
	.CellBBUNRUINM
	{
		text-align: left;
		width: 336px;
	}
	.itemTiBBUNRUINM
	{
		width: 36px;
		display: inline-block;
	}
	.CellSIRSU
	{
		text-align: right;
		width: 72px;
	}
	.itemTiSIRSU
	{
		width: 24px;
		display: inline-block;
	}
	.CellTANINM
	{
		text-align: left;
		width: 24px;
	}
	.itemTiTANINM
	{
		width: 24px;
		display: inline-block;
	}
	.CellSIRKIN
	{
		text-align: right;
		width: 84px;
	}
	.itemTiSIRKIN
	{
		width: 24px;
		display: inline-block;
	}
	.CellTAX
	{
		text-align: right;
		width: 60px;
	}
	.itemTiTAX
	{
		width: 36px;
		display: inline-block;
	}
	.CellRENNO
	{
		text-align: left;
		width: 157px;
	}
	.itemTiRENNO
	{
		width: 48px;
		display: inline-block;
	}
	.CellCHG
	{
		text-align: left;
		width: 55px;
	}
	.CellBKIKAKUCD
	{
		text-align: left;
	}
	.itemTiBKIKAKUCD
	{
		width: 24px;
		display: inline-block;
	}
	.CellBKIKAKUNM
	{
		text-align: left;
	}
	.itemTiBKIKAKUNM
	{
		width: 36px;
		display: inline-block;
	}
	.CellSIRTANK
	{
		text-align: right;
	}
	.itemTiSIRTANK
	{
		width: 24px;
		display: inline-block;
	}
	.CellSIRRUIKIN
	{
		text-align: right;
	}
	.itemTiSIRRUIKIN
	{
		width: 48px;
		display: inline-block;
	}
	.Cell
	{
		text-align: left;
	}
	.CellBUMONCD
	{
		text-align: left;
	}
	.itemTiBUMONCD
	{
		width: 24px;
		display: inline-block;
	}
	.scroll
	{
		width: 924px;
		min-height: 0px;
		max-height: 281px;
		overflow: auto;
		position: relative;
	}
	.itemcellRNUM
	{
		width: 0px;
		display: inline-block;
	}
	.itemcellBBUNRUICD
	{
		width: 18px;
		display: inline-block;
	}
	.itemcellBBUNRUINM
	{
		width: 180px;
		display: inline-block;
	}
	.itemcellSIRSU
	{
		width: 60px;
		display: inline-block;
	}
	.itemcellTANINM
	{
		width: 24px;
		display: inline-block;
	}
	.itemcellSIRKIN
	{
		width: 66px;
		display: inline-block;
	}
	.itemcellTAX
	{
		width: 54px;
		display: inline-block;
	}
	.itemcellRENNO
	{
		width: 72px;
		display: inline-block;
	}
	.btnCHG
	{
	    height: 18px;
	}
	.btnDELLNO
	{
	    height: 18px;
	}
	.itemcellBKIKAKUCD
	{
		width: 18px;
		display: inline-block;
	}
	.itemcellBKIKAKUNM
	{
		width: 336px;
		display: inline-block;
	}
	.itemcellSIRTANK
	{
		width: 72px;
		display: inline-block;
	}
	.itemcellSIRRUIKIN
	{
		width: 72px;
		display: inline-block;
	}
	.itemcellBUMONCD
	{
		width: 6px;
		display: inline-block;
	}
	.gu
	{
	}
	.RNUM00
	{
		width: 12px;
		display: inline-block;
		height: 12px;
		overflow: hidden;
	}
	.BBUNRUICD00
	{
		width: 18px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.BBUNRUINM00
	{
		width: 180px;
		display: inline-block;
		height: 12px;
		overflow: hidden;
	}
	.SIRSU00
	{
		width: 60px;
		ime-mode: disabled;
		text-align: right;
		border-style: none;
		background-color: transparent;
	}
	.TANINM00
	{
		width: 24px;
		display: inline-block;
		height: 12px;
		overflow: hidden;
	}
	.SIRKIN00
	{
		width: 66px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.TAX00
	{
		width: 54px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.RENNO00
	{
		width: 72px;
		display: inline-block;
		height: 12px;
		overflow: hidden;
	}
	.btnADD
	{
	    height: 18px;
	}
	.btnCANCEL
	{
	    height: 18px;
	}
	.BKIKAKUCD00
	{
		width: 18px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.BKIKAKUNM00
	{
		width: 336px;
		display: inline-block;
		height: 12px;
		overflow: hidden;
	}
	.SIRTANK00
	{
		width: 72px;
		ime-mode: disabled;
		text-align: right;
		border-style: none;
		background-color: transparent;
	}
	.SIRRUIKIN00
	{
		width: 84px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.BUMONCD00
	{
		display: inline;
		width: 157px;
		ime-mode: disabled;
	}
	.tblfoot
	{
	}
	.footer
	{
	}
	.ftiGOUKING
	{
		text-align: center;
		color: #FFFFFF;
		background-color: #000080;
		border: none;
	}
	.lbltGOUKING
	{
	}
	.fvalGOUKING
	{
		text-align: right;
		border: none;
	}
	.GOUKING00
	{
		width: 84px;
		display: inline-block;
		text-align: right;
		height: 12px;
		overflow: hidden;
	}
	.divBottom
	{
		width: 980px;
		position: absolute;
		bottom: 0px;
	}
	.divDNBtn
	{
		position: relative;
	}
	.btnDn
	{
		font-size: 12px;
		width: 98px;
		height: 20px;
		text-align: left;
		padding-top: 2px;
		margin-right: -6px;
	}
