	.divKey
	{
		position: relative;
		margin-left: 10px;
		height: 86px;
	}
	.lbltKIGYONM
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.KIGYONM
	{
		width: 240px;
		ime-mode: active;
		position: absolute;
		top: 0px;
		left: 80px;
	}
	.lbltKIGYONMX
	{
		position: absolute;
		top: 23px;
		left: 0px;
	}
	.KIGYONMX
	{
		width: 60px;
		ime-mode: inactive;
		position: absolute;
		top: 21px;
		left: 80px;
	}
	.lbltRYAKUSHO
	{
		position: absolute;
		top: 44px;
		left: 0px;
	}
	.RYAKUSHO
	{
		width: 96px;
		ime-mode: active;
		position: absolute;
		top: 42px;
		left: 80px;
	}
	.lbltTELNO
	{
		position: absolute;
		top: 65px;
		left: 0px;
	}
	.TELNO
	{
		width: 90px;
		ime-mode: inactive;
		position: absolute;
		top: 63px;
		left: 80px;
	}
	.divbtnSearch
	{
		width: 358px;
		text-align: right;
		margin-left: 10px;
	}
	.btnSearch
	{
		height: 18px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.LVContent
	{
		width: 358px;
		height: 401px;
		margin-left: 10px;
	}
	.SearchDP
	{
		width: 358px;
		height: 14px;
		position: relative;
	}
	.DPPage
	{
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.LVTable
	{
		border: solid 1px #DEDFDE;
		border-collapse: collapse;
	}
	.LVthedder
	{
		background-color: #6B696B;
	}
	.CellKIGYOCD
	{
		width: 88px;
		text-align: left;
	}
	.link
	{
		color: #FFFFFF;
	}
	.CellKIGYONM
	{
		width: 250px;
		text-align: left;
	}
	.gu
	{
		background-color: #FFFFFF;
	}
	.itemKIGYOCD
	{
		text-align: left;
	}
	.itemcellKIGYOCD
	{
		width: 24px;
		display: inline-block;
	}
	.itemKIGYONM
	{
		text-align: left;
	}
	.itemcellKIGYONM
	{
		width: 240px;
		display: inline-block;
	}
	.ki
	{
		background-color: #F7F7DE;
	}
