	.divKey
	{
		position: relative;
		margin-left: 10px;
		height: 23px;
	}
	.lbltBUNRUIDNM
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.BUNRUIDNM
	{
		width: 60px;
		ime-mode: active;
		position: absolute;
		top: 0px;
		left: 68px;
	}
	.divbtnSearch
	{
		width: 172px;
		text-align: right;
		margin-left: 10px;
	}
	.btnSearch
	{
		height: 18px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.LVContent
	{
		width: 172px;
		height: 401px;
		margin-left: 10px;
	}
	.SearchDP
	{
		width: 172px;
		height: 14px;
		position: relative;
	}
	.DPPage
	{
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.LVTable
	{
		border: solid 1px #DEDFDE;
		border-collapse: collapse;
	}
	.LVthedder
	{
		background-color: #6B696B;
	}
	.CellBUNRUIDCD
	{
		width: 82px;
		text-align: left;
	}
	.itemTiBUNRUIDCD
	{
		width: 72px;
		display: inline-block;
	}
	.CellBUNRUIDNM
	{
		width: 70px;
		text-align: left;
	}
	.itemTiBUNRUIDNM
	{
		width: 48px;
		display: inline-block;
	}
	.gu
	{
		background-color: #FFFFFF;
	}
	.itemBUNRUIDCD
	{
		text-align: left;
	}
	.itemcellBUNRUIDCD
	{
		width: 12px;
		display: inline-block;
	}
	.itemBUNRUIDNM
	{
		text-align: left;
	}
	.itemcellBUNRUIDNM
	{
		width: 60px;
		display: inline-block;
	}
	.ki
	{
		background-color: #F7F7DE;
	}
