	.divUPBtn
	{
		height: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.divBtn
	{
		float: left;
		width: 500px;
		text-align: left;
		height: 20px;
	}
	.btn
	{
		font-size: 12px;
		width: 80px;
		height: 20px;
	}
	.divKey
	{
		position: relative;
		margin-left: 10px;
		height: 23px;
	}
	.lbltJIGYOCD
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.JIGYOCD
	{
		width: 12px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 0px;
		left: 152px;
	}
	.btnJIGYOCD
	{
		position: absolute;
		top: -1px;
		left: 178px;
		height: 18px;
	}
	.btnSearch
	{
		position: absolute;
		top: -1px;
		left: 220px;
		height: 18px;
	}
	.divMain
	{
		position: relative;
		margin-left: 10px;
		height: 359px;
	}
	.lbltJIGYONM
	{
		position: absolute;
		top: 2px;
		left: 0px;
	}
	.JIGYONM
	{
		width: 72px;
		ime-mode: active;
		position: absolute;
		top: 0px;
		left: 152px;
	}
	.lbltZIPCODE
	{
		position: absolute;
		top: 23px;
		left: 0px;
	}
	.ZIPCODE
	{
		width: 48px;
		ime-mode: disabled;
		position: absolute;
		top: 21px;
		left: 152px;
	}
	.btnZIPCODE
	{
		position: absolute;
		top: 20px;
		left: 214px;
		height: 18px;
	}
	.lbltADD1
	{
		position: absolute;
		top: 44px;
		left: 0px;
	}
	.ADD1
	{
		width: 240px;
		ime-mode: active;
		position: absolute;
		top: 42px;
		left: 152px;
	}
	.lbltADD2
	{
		position: absolute;
		top: 65px;
		left: 0px;
	}
	.ADD2
	{
		width: 240px;
		ime-mode: active;
		position: absolute;
		top: 63px;
		left: 152px;
	}
	.lbltTELNO
	{
		position: absolute;
		top: 86px;
		left: 0px;
	}
	.TELNO
	{
		width: 90px;
		ime-mode: inactive;
		position: absolute;
		top: 84px;
		left: 152px;
	}
	.lbltFAXNO
	{
		position: absolute;
		top: 107px;
		left: 0px;
	}
	.FAXNO
	{
		width: 90px;
		ime-mode: inactive;
		position: absolute;
		top: 105px;
		left: 152px;
	}
	.lbltFURIGINKONM
	{
		position: absolute;
		top: 128px;
		left: 0px;
	}
	.FURIGINKONM
	{
		width: 360px;
		ime-mode: active;
		position: absolute;
		top: 126px;
		left: 152px;
	}
	.lbltTOKUGINKONM
	{
		position: absolute;
		top: 149px;
		left: 0px;
	}
	.TOKUGINKONM
	{
		width: 360px;
		ime-mode: active;
		position: absolute;
		top: 147px;
		left: 152px;
	}
	.lbltBUKKENNO
	{
		position: absolute;
		top: 170px;
		left: 0px;
	}
	.BUKKENNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 168px;
		left: 152px;
	}
	.lbltSEIKYUSHONO
	{
		position: absolute;
		top: 191px;
		left: 0px;
	}
	.SEIKYUSHONO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 189px;
		left: 152px;
	}
	.lbltNYUKINNO
	{
		position: absolute;
		top: 212px;
		left: 0px;
	}
	.NYUKINNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 210px;
		left: 152px;
	}
	.lbltHACCHUNO
	{
		position: absolute;
		top: 233px;
		left: 0px;
	}
	.HACCHUNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 231px;
		left: 152px;
	}
	.lbltSIRNO
	{
		position: absolute;
		top: 254px;
		left: 0px;
	}
	.SIRNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 252px;
		left: 152px;
	}
	.lbltSHRNO
	{
		position: absolute;
		top: 275px;
		left: 0px;
	}
	.SHRNO
	{
		width: 42px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 273px;
		left: 152px;
	}
	.lbltHOSHUYMD
	{
		position: absolute;
		top: 296px;
		left: 0px;
	}
	.HOSHUYMD
	{
		width: 42px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 296px;
		left: 152px;
	}
	.lbltHOSHUTANTCD
	{
		position: absolute;
		top: 317px;
		left: 0px;
	}
	.HOSHUTANTCD
	{
		width: 36px;
		ime-mode: disabled;
		text-align: right;
		position: absolute;
		top: 315px;
		left: 152px;
	}
	.btnHOSHUTANTCD
	{
		position: absolute;
		top: 315px;
		left: 202px;
		height: 18px;
	}
	.TANTNM
	{
		width: 96px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 317px;
		left: 244px;
	}
	.lbltHOSHUJIKKOYMD
	{
		position: absolute;
		top: 338px;
		left: 0px;
	}
	.HOSHUJIKKOYMD
	{
		width: 60px;
		display: inline-block;
		text-align: left;
		height: 12px;
		background-color: #FFFFFF;
		overflow: hidden;
		position: absolute;
		top: 338px;
		left: 152px;
	}
	.lbltHOZONSAKINAME
	{
		position: absolute;
		top: 359px;
		left: 0px;
	}
	.HOZONSAKINAME
	{
		width: 500px;
		ime-mode: active;
		position: absolute;
		top: 357px;
		left: 152px;
	}
	.divBottom
	{
		width: 980px;
		position: absolute;
		bottom: 0px;
	}
	.divDNBtn
	{
		position: relative;
	}
	.btnDn
	{
		font-size: 12px;
		width: 98px;
		height: 20px;
		text-align: left;
		padding-top: 2px;
		margin-right: -6px;
	}
